*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color: gray;
}
.container{
    width:100%; /* parent ke hisaab se full ho jao*/    
    max-width:900px;/*lekin 900px mat badho*/
    margin : 0 auto; /* aur center main raho*/
}
.apply_box{
    max-width:600px; /*ye pura cover krega bas 600px se jadanhi hoga*/
    padding:20px;
    background-color:white;
    margin: 0 auto; 
    margin:50px;
    box-shadow:4px 3px 5px rgba(1,1,1,0.1);
    border-radius:10px;
}
.titlesmall{
    font-size:20px;
}
.form_container{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px ,1fr));
    gap:20px;
}
.form_control{
    display:flex;
    flex-direction:column;
}
label{
    margin-bottom:10px;
    font-size: 15px;

}
input,select,textarea{
    padding:6px; /*distance btw box*/
    border:1px solid gray;
    border-radius:4px;
    font-size:15px;
}
input:focus{
    outline-color: black;
}
select:focus{
    outline-color: black;
}
textarea:focus{
     outline-color: black;
}
.button{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;
    
}
button:hover{
    background-color:blue;
    color:white;
    box-shadow:4px 3px 5px rgba(1,1,1,0.7);
    font-weight: bolder;
}
button{
    padding:5px 10px;
    border:transparent solid 2px;
}
.textarea_control{
    grid-column: 1 / span 2;
}
 textarea{
    width:100%;
}
@media (max-width:564px){
    .textarea_control{
    grid-column: 1 / span 1;
}
}
